
.vscode

# Build
/target/

# NetBeans
/nbproject/private/
/nbproject/build-impl.xml
/nbproject/genfiles.properties

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Temporários
*.tmp
*.swp

# Java
*.class